<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/main.css" />
		<style>
			html,body {
				height: 100%;
				background: #fff;
			}
			.amap-logo,.amap-copyright {
				display: none!important;
			}
		</style>
	</head>

	<body>
		<ul id="dirver_list" class="dirver-pay-list">
			<li class="pay-item">
				<h3 class="position"><i class="mui-icon mui-icon-location-filled" style="color: #CF2D28;"></i>南京市建邺区油坊桥</h3>
				<h4 class="time">2018-6-2</h4>
			</li>
			<li class="pay-item">
				<h3 class="position"><i class="mui-icon mui-icon-location-filled" style="color: #CF2D28;"></i>南京市建邺区油坊桥</h3>
				<h4 class="time">2018-6-2</h4>
			</li>
			<li class="pay-item">
				<h3 class="position"><i class="mui-icon mui-icon-location-filled" style="color: #CF2D28;"></i>南京市建邺区油坊桥</h3>
				<h4 class="time">2018-6-2</h4>
			</li>
			<li class="pay-item">
				<h3 class="position"><i class="mui-icon mui-icon-location-filled" style="color: #CF2D28;"></i>南京市建邺区油坊桥</h3>
				<h4 class="time">2018-6-2</h4>
			</li>
		</ul>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=c662fdb7d66aab5a3bdb7dd25c04459c"></script>
		<script type="text/javascript">
			
			mui.plusReady(function(){
				mui('#dirver_list').on('tap','.pay-item',function(){
					mui.openWindow('dirver-detail.html','dirver_detail');
				})
			})
		</script>
	</body>

</html>