<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/main.css" />
		<style>
			html,body {
				height: 100%;
			}
			.amap-logo,.amap-copyright {
				display: none!important;
			}
		</style>
	</head>

	<body>
		<div id="map_container" class="map-container"></div>
		<div class="map-action-container">
			<p class="guest-position mui-ellipsis">
				<i class="mui-icon mui-icon-location-filled"></i> <span id="position">南京市建邺区金穗花园</span>
			</p>
			<div class="guest-action-container">
				<button class="create-btn" id="create_btn" type="button">发起订单</button>
				<button class="log-btn" type="button">历史订单</button>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=c662fdb7d66aab5a3bdb7dd25c04459c"></script>
		<script type="text/javascript">
			 var map;
			mui.ready(function(){
				map = new AMap.Map('map_container', {
			        zoom:11,//级别
			        center: [116.397428, 39.90923],//中心点坐标
			    });
			})
			mui.plusReady(function(){
				
			    plus.geolocation.getCurrentPosition(function(p) {
			    		var positionNode = document.getElementById('position');
			    		positionNode.innerHTML = p.addresses;
			    		AMap.convertFrom([p.coords.longitude,p.coords.latitude], 'gps', function (status, result) {
					  if (result.info === 'ok') {
					    var lnglats = result.locations;
					    var ll = [lnglats[0].lng,lnglats[0].lat]
					    map.setZoomAndCenter(13,ll);
					    var marker = new AMap.Marker({
					        position:ll
					    })
					    map.add(marker);
					    
					  } else {
					  	mui.toast('坐标转换失败');
					  }
					});
			    },function(e){
			    		mui.toast(e.message);
			    },{
			    		provider:'system'
			    });
			    
			    document.getElementById('create_btn').addEventListener('tap', function() {
			    		mui.confirm('确认发起订单','发起订单',['确认', '取消'],function(e){
			    			if(e.index==0) {
			    				mui.toast('发起订单');
			    			}else {
			    				mui.toast('取消订单');
			    			}
			    		})
			    })
			})
		</script>
	</body>

</html>