<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/main.css" />
		<style>
			#logout_btn {
				width: 80%;
				height: 40px;
				line-height: 40px;
				font-size: 15px;
				margin: 30px auto;
				padding: 0;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">订单</h1>
		</header>
		<div class="mui-content">
		    <ul id="dirver_list" class="dirver-pay-list" style="background: #fff;">
			<li class="pay-item">
				<h3 class="position"><i class="mui-icon mui-icon-location-filled" style="color: #CF2D28;"></i>南京市建邺区油坊桥</h3>
				<h4 class="time">2018-6-2</h4>
			</li>
			<li class="pay-item">
				<h3 class="position"><i class="mui-icon mui-icon-location-filled" style="color: #CF2D28;"></i>南京市建邺区油坊桥</h3>
				<h4 class="time">2018-6-2</h4>
			</li>
			<li class="pay-item">
				<h3 class="position"><i class="mui-icon mui-icon-location-filled" style="color: #CF2D28;"></i>南京市建邺区油坊桥</h3>
				<h4 class="time">2018-6-2</h4>
			</li>
			<li class="pay-item">
				<h3 class="position"><i class="mui-icon mui-icon-location-filled" style="color: #CF2D28;"></i>南京市建邺区油坊桥</h3>
				<h4 class="time">2018-6-2</h4>
			</li>
		</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script>

		</script>
	</body>

</html>